[
    (
        name: "ShortGrass",
        opacity: 0.0,
        z: Meters(0.0),
        deny: [],
    ),
    (
        name: "MiddleGrass",
        opacity: 0.002,
        z: Meters(0.25),
        deny: [],
        crawling_opacity_bonus: 0.03,
        hiding_opacity_bonus: 0.08,
    ),
    (
        name: "HighGrass",
        opacity: 0.1,
        z: Meters(1.0),
        deny: [],
        crawling_opacity_bonus: 0.10,
        hiding_opacity_bonus: 0.20,
    ),
    (
        name: "Dirt",
        opacity: 0.0,
        z: Meters(0.0),
        deny: [],
    ),
    (
        name: "Mud",
        opacity: 0.0,
        z: Meters(0.0),
        deny: [],
        crawling_opacity_bonus: 0.02,
        hiding_opacity_bonus: 0.05,
    ),
    (
        name: "Sand",
        opacity: 0.0,
        z: Meters(0.0),
        deny: [],
        crawling_opacity_bonus: 0.02,
        hiding_opacity_bonus: 0.05,
    ),
    (
        name: "Gravel",
        opacity: 0.0,
        z: Meters(0.0),
        deny: [],
        crawling_opacity_bonus: 0.02,
        hiding_opacity_bonus: 0.05,
    ),
    (
        name: "Concrete",
        opacity: 0.0,
        z: Meters(0.0),
        deny: [],
    ),
    (
        name: "BrickWall",
        opacity: 1.0,
        z: Meters(2.5),
        deny: [Projectile],
    ),
    (
        name: "Trunk",
        opacity: 0.8,
        z: Meters(4.0),
        deny: [Projectile],
    ),
    (
        name: "Water",
        opacity: 0.0,
        z: Meters(0.0),
        deny: [],
        crawling_opacity_bonus: 0.05,
        hiding_opacity_bonus: 0.10,
    ),
    (
        name: "DeepWater",
        opacity: 0.0,
        z: Meters(0.0),
        deny: [],
    ),
    (
        name: "Underbrush",
        opacity: 0.025,
        z: Meters(2.5),
        deny: [],
        crawling_opacity_bonus: 0.02,
        hiding_opacity_bonus: 0.05,
    ),
    (
        name: "LightUnderbrush",
        opacity: 0.015,
        z: Meters(2.5),
        deny: [],
        crawling_opacity_bonus: 0.01,
        hiding_opacity_bonus: 0.025,
    ),
    (
        name: "MiddleWoodLogs",
        opacity: 0.015,
        z: Meters(0.4),
        deny: [],
    ),
    (
        name: "Hedge",
        opacity: 0.25,
        z: Meters(2.0),
        deny: [],
        crawling_opacity_bonus: 0.30,
        hiding_opacity_bonus: 0.45,
    ),
    (
        name: "MiddleRock",
        opacity: 0.15,
        z: Meters(0.8),
        deny: [],
    ),
    (
        name: "BigRock",
        opacity: 1.0,
        z: Meters(2.5),
        deny: [Individual, Projectile],
    ),
]
