[
    Rifle((
        name: "Weapon1",
        amunitions: ["Ammo1"],
        magazines: ["Magazine1"],
        shots: [Single(sounds:[])],
        interval: Seconds(0.5),
        velocity: MetersSeconds(5.0),
        reload: Seconds(1.0),
        aim: Seconds(1.0),
        inaccuracy: 0.1,
    )),
    Rifle((
        name: "Weapon2",
        amunitions: ["Ammo1"],
        magazines: ["Magazine1"],
        shots: [Single(sounds:[])],
        interval: Seconds(0.6),
        velocity: MetersSeconds(10.0),
        reload: Seconds(1.0),
        aim: Seconds(1.0),
        inaccuracy: 0.1,
    )),
    Rifle((
        name: "Weapon3",
        amunitions: ["Ammo1"],
        magazines: ["Magazine1"],
        shots: [Single(sounds:[]),Burst3(interval:Seconds(0.2),sounds:[])],
        interval: Seconds(0.5),
        velocity: MetersSeconds(15.0),
        reload: Seconds(1.0),
        aim: Seconds(1.0),
        inaccuracy: 0.1,
    )),
    MachineGun((
        name: "Weapon4",
        amunitions: ["Ammo1"],
        magazines: ["Magazine1"],
        shots: [Burst3(interval:Seconds(0.2),sounds:[])],
        interval: Seconds(0.1),
        velocity: MetersSeconds(100.0),
        reload: Seconds(0.1),
        aim: Seconds(0.1),
        inaccuracy: 0.1,
    )),
    MachineGun((
        name: "FullFast",
        amunitions: ["Ammo1"],
        magazines: ["Magazine1"],
        shots: [Burst3(interval:Seconds(0.1),sounds:[])],
        interval: Seconds(0.1),
        velocity: MetersSeconds(175.0),
        reload: Seconds(0.1),
        aim: Seconds(0.1),
        inaccuracy: 0.1,
    )),
]
